
.menuButtons {
    -fx-background-color: #ff6600;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-border-radius: 0;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0 0 0 0, 0, 0, 0;
}

.menuButtons:focused {

}

.menuBar {
    -fx-background-color: #cc0033;
}

.menuPane {
    -fx-background-color: #333333;
}

.anchorPane {
    -fx-background-color: #666666;
}

.overview {
    -fx-background-color: #cc0033;
}

.barChart {
    -fx-background-color: #666666;
}